/* this is the grid section */

*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.gp-full {
	width: 100%;
}

.gp-three-quarters {
	width: 75%;
}

.gp-two-thirds {
	width: 66.66%;
}

.gp-one-third {
	width: 33.33%;
}

.gp-one-half {
	width: 50%;
}

.gp-one-fourth {
	width: 25%;
}

.gp-one-sixth {
	width: 16.66%;
}

[class*='gp-'] {
	float: left;
}

[class*='gp-'] {
	padding-right: 10px;
}

.grid-padding {
	padding: 10px 0 0 10px;
}

.grid-padding:last-of-type {
	padding-bottom: 10px;
}

.grid-padding:after {
	content: '';
	display: table;
	clear: both;
}

/* this is the style section */

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
	background-color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}

.content-box {
	position: relative;
	background-color: lightblue;
	width: 100%;
	min-height: 200px;
	border: 2px dashed darkblue;
	padding: 5px;
}

h3 {
	color: darkblue;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}