*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
}

[class*='hp-'] {
	float: left;
}

.hp-full {
	width: 100%;
}

.hp-two-thirds {
	width: 66.66%;
}

.hp-one-third {
	width: 33.33%;
}

.hp-half {
	width: 50%;
}

.hp-quarter {
	width: 25%;
}

.content-box {
	background-color: lightblue;
	width: 100%;
	height: 250px;
	border: 2px solid darkblue;
	padding: 5px;
}

[class*='hp-'] {
	padding-right: 10px;
}

.grid-padding {
	padding: 10px 0 0 10px;
}

.grid-padding:after {
	content: '';
	display: table;
	clear: both;
}

.apply-to-last-grid {
	padding-bottom: 10px;
}